<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="36" android:compileSdkVersionCodename="16" package="com.android.managedprovisioning.overlay_gms" platformBuildVersionCode="36" platformBuildVersionName="16">
    <overlay android:isStatic="true" android:priority="210" android:targetName="ManagedProvisioning" android:targetPackage="com.android.managedprovisioning"/>
    <application android:extractNativeLibs="true" android:hasCode="false" android:label="ManagedProvisioningPixelOverlay"/>
</manifest>
