<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="36" android:compileSdkVersionCodename="16" package="com.google.android.networkstack.tethering.overlay2021_gms" platformBuildVersionCode="36" platformBuildVersionName="16">
    <overlay android:isStatic="true" android:targetName="TetheringConfig" android:targetPackage="com.google.android.networkstack.tethering"/>
    <overlay android:isStatic="true" android:targetName="TetheringConfig" android:targetPackage="com.google.android.networkstack.tethering"/>
    <application android:extractNativeLibs="true" android:hasCode="false"/>
</manifest>
