<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="36" android:compileSdkVersionCodename="16" package="com.android.systemui.overlay.pearloverlay2024_gms" platformBuildVersionCode="36" platformBuildVersionName="16">
    <application android:extractNativeLibs="true" android:hasCode="false"/>
    <overlay android:isStatic="true" android:priority="1" android:targetPackage="com.android.systemui"/>
</manifest>
